html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.divider {
  height: 3px;
  width: 40%;
  background: #c90859;
  margin: auto auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: black;
}
p {
  text-align: left;
}
.card {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 40px;
  border-radius: 40px;
  width: 95vw;
  max-width: 1080px;
  margin: 5vh auto;
  min-height: 300px;
}
@media only screen and (max-width: 800px) {
  .content {
    padding: 10px 0;
    margin: 10vh auto;
  }
}
a {
  color: white;
  text-decoration: none;
}
.image-container {
  display: block;
  width: auto;
  position: relative;
  height: 300px;
  }

  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 20px;
    height: auto;
    width: auto;
    text-align: center;
    content: center center;
    padding: 20px;
    margin: 150px 0 0 0;
} 
@media screen and (max-width: 800px) {
  .wrapper {
    grid-gap: 40px;
    padding: 50px 10px;
  }
}
.content {
  background: white;
  color: black;
}
.leistungen {
  text-align: justify;
}

.leistungen .button {
  padding: 20px;
  background-color: #76282e;
  color: white;
  border-radius: 20px;
}

.leistungen .item-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 20px;
  padding: 50px;
}

@media screen and (max-width: 650px) {
  .leistungen .item-holder {
    grid-gap: 40px;
    padding: 50px 10px;
  }
}